NET "S[15]" LOC=P44  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "S[14]" LOC=P46  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "S[13]" LOC=P48  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "S[12]" LOC=P51  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "S[11]" LOC=P56  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "S[10]" LOC=P75  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "S[9]" LOC=P79  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "S[8]" LOC=P81  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "S[7]" LOC=P104  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "S[6]" LOC=P83  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "S[5]" LOC=P85  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "S[4]" LOC=P88  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "S[3]" LOC=P93  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "S[2]" LOC=P95  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "S[1]" LOC=P98  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "S[0]" LOC=P105  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET "B[0]" LOC=P35  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "B[1]" LOC=P33  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "B[2]" LOC=P30  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "B[3]" LOC=P27  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "B[4]" LOC=P24  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "B[5]" LOC=P22  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "B[6]" LOC=P17  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "B[7]" LOC=P15  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "B[8]" LOC=P10  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "B[9]" LOC=P8  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "B[10]" LOC=P6  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "B[11]" LOC=P2  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "B[12]" LOC=P142  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "B[13]" LOC=P140  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "B[14]" LOC=P138  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "B[15]" LOC=P134  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;

NET "A[0]" LOC=P32  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "A[1]" LOC=P29  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "A[2]" LOC=P26  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "A[3]" LOC=P23  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "A[4]" LOC=P21  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "A[5]" LOC=P16  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "A[6]" LOC=P14  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "A[7]" LOC=P9  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "A[8]" LOC=P7  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "A[9]" LOC=P5  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "A[10]" LOC=P1  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "A[11]" LOC=P141  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "A[12]" LOC=P139  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "A[13]" LOC=P137  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "A[14]" LOC=P133  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "A[15]" LOC=P131  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;

NET "COUT" 			  LOC = P119	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;