//! **************************************************************************
// Written by: Map P.20131013 on Tue Feb 11 19:21:13 2025
//! **************************************************************************

SCHEMATIC START;
COMP "A<0>" LOCATE = SITE "P32" LEVEL 1;
COMP "A<1>" LOCATE = SITE "P29" LEVEL 1;
COMP "A<2>" LOCATE = SITE "P26" LEVEL 1;
COMP "A<3>" LOCATE = SITE "P23" LEVEL 1;
COMP "Cout" LOCATE = SITE "P119" LEVEL 1;
COMP "B<0>" LOCATE = SITE "P35" LEVEL 1;
COMP "A<4>" LOCATE = SITE "P21" LEVEL 1;
COMP "B<1>" LOCATE = SITE "P33" LEVEL 1;
COMP "A<5>" LOCATE = SITE "P16" LEVEL 1;
COMP "B<2>" LOCATE = SITE "P30" LEVEL 1;
COMP "A<6>" LOCATE = SITE "P14" LEVEL 1;
COMP "B<3>" LOCATE = SITE "P27" LEVEL 1;
COMP "A<7>" LOCATE = SITE "P9" LEVEL 1;
COMP "B<4>" LOCATE = SITE "P24" LEVEL 1;
COMP "A<8>" LOCATE = SITE "P7" LEVEL 1;
COMP "B<5>" LOCATE = SITE "P22" LEVEL 1;
COMP "A<9>" LOCATE = SITE "P5" LEVEL 1;
COMP "B<6>" LOCATE = SITE "P17" LEVEL 1;
COMP "B<7>" LOCATE = SITE "P15" LEVEL 1;
COMP "B<8>" LOCATE = SITE "P10" LEVEL 1;
COMP "B<9>" LOCATE = SITE "P8" LEVEL 1;
COMP "S<10>" LOCATE = SITE "P75" LEVEL 1;
COMP "S<11>" LOCATE = SITE "P56" LEVEL 1;
COMP "S<12>" LOCATE = SITE "P51" LEVEL 1;
COMP "S<13>" LOCATE = SITE "P48" LEVEL 1;
COMP "S<14>" LOCATE = SITE "P46" LEVEL 1;
COMP "S<15>" LOCATE = SITE "P44" LEVEL 1;
COMP "S<0>" LOCATE = SITE "P105" LEVEL 1;
COMP "S<1>" LOCATE = SITE "P98" LEVEL 1;
COMP "S<2>" LOCATE = SITE "P95" LEVEL 1;
COMP "A<10>" LOCATE = SITE "P1" LEVEL 1;
COMP "S<3>" LOCATE = SITE "P93" LEVEL 1;
COMP "A<11>" LOCATE = SITE "P141" LEVEL 1;
COMP "S<4>" LOCATE = SITE "P88" LEVEL 1;
COMP "A<12>" LOCATE = SITE "P139" LEVEL 1;
COMP "S<5>" LOCATE = SITE "P85" LEVEL 1;
COMP "A<13>" LOCATE = SITE "P137" LEVEL 1;
COMP "S<6>" LOCATE = SITE "P83" LEVEL 1;
COMP "A<14>" LOCATE = SITE "P133" LEVEL 1;
COMP "S<7>" LOCATE = SITE "P104" LEVEL 1;
COMP "A<15>" LOCATE = SITE "P131" LEVEL 1;
COMP "S<8>" LOCATE = SITE "P81" LEVEL 1;
COMP "S<9>" LOCATE = SITE "P79" LEVEL 1;
COMP "B<10>" LOCATE = SITE "P6" LEVEL 1;
COMP "B<11>" LOCATE = SITE "P2" LEVEL 1;
COMP "B<12>" LOCATE = SITE "P142" LEVEL 1;
COMP "B<13>" LOCATE = SITE "P140" LEVEL 1;
COMP "B<14>" LOCATE = SITE "P138" LEVEL 1;
COMP "B<15>" LOCATE = SITE "P134" LEVEL 1;
SCHEMATIC END;

