NET "CLK" LOC = P126;


NET "Buzzer" LOC=P44  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;

NET "ColumnBus[0]" LOC=P7  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "ColumnBus[1]" LOC=P5  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "ColumnBus[2]" LOC=P1  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "ColumnBus[3]" LOC=P141  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "rowSelect[0]" LOC=P139  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN  ;
NET "rowSelect[1]" LOC=P137  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN  ;
NET "rowSelect[2]" LOC=P133  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN  ;
NET "rowSelect[3]" LOC=P131  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN  ;

