//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Sat 06 07 19:35:48 2025

IO_LOC "LCD_C[6]" 53;
IO_PORT "LCD_C[6]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_C[5]" 57;
IO_PORT "LCD_C[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;


IO_LOC "LCD_D[7]" 79;
IO_PORT "LCD_D[7]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_D[6]" 80;
IO_PORT "LCD_D[6]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_D[5]" 81;
IO_PORT "LCD_D[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_D[4]" 82;
IO_PORT "LCD_D[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_D[3]" 83;
IO_PORT "LCD_D[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_D[2]" 84;
IO_PORT "LCD_D[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_D[1]" 85;
IO_PORT "LCD_D[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_D[0]" 86;
IO_PORT "LCD_D[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "clk" 52;
IO_PORT "clk" PULL_MODE=NONE BANK_VCCIO=1.8;

IO_LOC "sw" 3;
IO_PORT "sw" PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "rst" 4;
IO_PORT "rst" PULL_MODE=UP BANK_VCCIO=1.8;