NET "COUT"  LOC=P102	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "P[14]" LOC=P100  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "P[13]" LOC=P98  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "P[12]" LOC=P95  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "P[11]" LOC=P93 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "P[10]" LOC=P88  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "P[9]" LOC=P85 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "P[8]" LOC=P83  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "P[7]" LOC=P81  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "P[6]" LOC=P79  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "P[5]" LOC=P75  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "P[4]" LOC=P56  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "P[3]" LOC=P51  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "P[2]" LOC=P48  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "P[1]" LOC=P46  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "P[0]" LOC=P44  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;


NET "M[0]" LOC=P35  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "M[1]" LOC=P33  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "M[2]" LOC=P30  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "M[3]" LOC=P27  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "M[4]" LOC=P24  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "M[5]" LOC=P22  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "M[6]" LOC=P17  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "M[7]" LOC=P15  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;

NET "Q[0]" LOC=P10  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "Q[1]" LOC=P8  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "Q[2]" LOC=P6  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "Q[3]" LOC=P2  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "Q[4]" LOC=P142  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "Q[5]" LOC=P140  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "Q[6]" LOC=P138  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "Q[7]" LOC=P134 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;

